[server]
port = "9000"
mode = "release"

[jwt]
secret = "4716de94909b618295014aac05031186"

[redis]
host = "localhost"
port = "6379"
password = ""
db = 0
pool_size = 100
min_idle_conns = 10

[postgres]
host = "localhost"
port = "5432"
user = "gopher"
password = "1900271083"
dbname = "chatroom"
max_idle_conns = 100
max_open_conns = 1000

[ratelimit]
qps = 1000
burst = 2000

[worker_pool]
size = 1000
queue_size = 100000

[kafka]
brokers = ["localhost:9092"]
topic = "chat_messages"
group_id = "chat_consumer_group"
